.cardLayout {
  width: 100%;
  border: 1px solid #04ba71;
  filter: drop-shadow(3px 6px 3px #aba6a6);
}

.cardLayout:hover {
  filter: drop-shadow(1px 2px 7px #aba6a6);
}

.cardBadge{
  padding:2px;
  border: 1px solid #04ba71;
  color:#04ba71;
  border-radius:5px
}
.cursor-pointer {
  cursor: pointer;
}
