.jobLists {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 75vh;
}
.jobLists-mobile {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 68vh;
  /* max-height: 40vh; */
}
